.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    perspective: 800px;
   
}

.MemoryCard_back {
    background: repeating-linear-gradient(
    45deg,
    #16A7A2,
    #16A7A3 10px, 
    #465298 10px,
    #465298 20px 
);
}

.MemoryCard_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    border: solid 2px black;
    
}

.MemoryCard_front {
    font-size: 30px;
    padding-top: 20px;
    transform: rotateY(180deg);
}

.MemoryCard_back, .MemoryCard_front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
}

.MemoryCard_inner.flipped {
    transform: rotateY(180deg);
}

img {
    width: 60px;
    padding-top: 10px; 
}